* { box-sizing: border-box;
    margin: 0;
    }

body {
  background-color: black;
}

@font-face {
  font-family: hola;
  src: url("gomarice_game_continue_03.ttf");
}

.cuadro {
  margin-left: 475px;
  margin-right: 450px;
  margin-top: 100px;
  width: 900px;
  height: 750px;
  border: dotted white thin;
}

.menu {
  border: dotted white thin;
  height: 75px;
  width: 100%;
  float: left;
}

.menuin {
  border-right: dotted white thin;
  border-left: dotted white thin;
  height: 75px;
  width: 33.3351925%;
  float: left;
}

.vida {
  border: solid black thin;
  font-family: hola;
  margin: 15px;
  height: 45px;
  color: white;
  font-size: 18px;
}

.vida2 {
  border: solid white thin;
  height: 15px;
}

.hp {
  margin: 1px;
  height: 11px;
  background-color: red;
}


.mana  {
  border: solid black thin;
  font-family: hola;
  margin: 15px;
  height: 45px;
  color: white;
  font-size: 18px;
}

.mana2  {
  border: solid white thin;
  height: 15px;
}

.mana3 {
  margin: 1px;
  height: 11px;
  background-color: blue;
}

.en  {
  border: solid black thin;
  font-family: hola;
  margin: 15px;
  height: 45px;
  color: white;
  font-size: 18px;
}

.en2  {
  border: solid white thin;
  height: 15px;
}

.en3 {
  margin: 1px;
  height: 11px;
  background-color: green;
}

.bicho {
  border: dotted white thin;
  height: 675px;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.boshy {
  margin-top: -100px;
  position: absolute;
  width: 50px;
  height: 50px;
  visibility: hidden;
  display: block;
  transition-duration: 2s;
  transition-property: transform;
}

.start {
  border: white dotted thin;
  margin-top: 255px;
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: 150px;
  left: 323px;
  color: black;
  font-size: 50px;
  padding: 50px;
  text-align: center;
  font-family: hola;
}
